*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}

video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.parent{
  display: flex;
  padding: 30px;
  gap: 30px;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  /* background-color: black; */
  /* background: linear-gradient(to bottom left ,#f6f3f3,#f8eeee); */
}

.card{
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.176);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.176);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  width: 280px;
  background-color: #ffffff00;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 30px;
  gap: 30px;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.top img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center; 
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color:#b1b1b1 ;
}

.top button:hover{
  background-color: #353333;
  color: white;
}

.center{
  transition: all 0.3s ease-in-out;
}

.center h3{
  font-size: 17px;
  font-weight: 500;

}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b ;
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 14px;
  background-color: #dadada;
  border-radius: 5px;
  color: #111;
  font-weight: 500;
  padding: 3px 6px;
}

.center:hover{
  color: white;
  transition: all 0.3s ease-in-out;
}

.bottom div h3{
  transition: all 0.3s ease-in-out;
}

.bottom div p{
  transition: all 0.3s ease-in-out;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom div h3:hover{
  color: white;
  transition: all 0.3s ease-in-out;
}
.bottom div p:hover{
  color: white;
  transition: all 0.3s ease-in-out;
}

.bottom button{
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.bottom button:hover{
  background-color: rgb(233, 224, 224);
  color: rgb(3, 0, 0);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
/* .bottom button:not(:hover){
  transition: all 0.3s ease-in-out;
} */
 
.bottom div p{

  font-size: 10px;
  color: #b1b1b1;
}

