@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111 ;
}

#tasklist::-webkit-scrollbar{
  display: none;

}

b{
  color: black;
}

#alltask::-webkit-scrollbar{
  display: none;
}
