@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html,body{
  height: 100%;
  width: 100%;
  color: #fff;
}

body{
  background-color: #111 ;
}

#tasklist::-webkit-scrollbar{
  display: none;

}

b{
  color: black;
}

#alltask::-webkit-scrollbar{
  display: none;
}
