* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
  background-color: black;
  color: white;
}

.nav{
  display: flex;
 justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}

.light{
    display: flex;
 justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: lightseagreen;
}

.dark{
    display: flex;
 justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: rgb(69, 166, 80);
}

.nav2{
  display: flex;
  gap: 30px;
}