*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: #fff;
    background-color: black;
}
.form{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}
input,button,textarea{
  width: 80%;
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
  background-color: rgb(20, 20, 20);
}

form{
  padding: 10px;
  height: 100vh;
  display: flex;
  align-items: start;
  width: 100%;
}

.form-container{
  margin-right: 5px;
  border-right: 2px solid white;
  display: flex;
  width: 50%;
  height: 100%;
  gap: 4px;
  flex-direction: column;
  align-items: start;
}

input,textarea{
  padding: 15px 12px;
  color: white;
  outline: none;
  height: 100px;
  border: 2px solid white;
  border-radius: 5px;
}

button{
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  padding: 15px 12px;
  border-radius: 5px;
}
button:active{
  transform: scale(0.95);
}

img{
  height: 50%;
}

h1{
  color: white;
}
.card{
  position: relative;
  height: 338px;
  width: 238px;
  padding: 10px 20px;
  /* background-color: white; */
  border-radius: 15px;
  margin-top: 10px;
  background: url('https://static.vecteezy.com/system/resources/previews/037/152/677/large_2x/sticky-note-paper-background-free-png.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.card-container{
  width: 50%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
}

.card-item{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.card h2:nth-child(2){
  margin-top: 20px;
  color: rgb(10, 7, 3);
  text-align: center;
}

.card p{
  margin-top: 10px;
  color: rgb(55, 55, 54);
}

.cross {
  position: absolute;
  top: 35px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 5px;
}
.cross:hover{
  background-color: red;
}
