*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: black;
}

button{
  border-radius: 15px;
  background-color: aquamarine;
  padding: 20px 30px;
  margin: 10px;
  font-size: 15px;
  border: none;
  transition: all 0.19s ease-in-out;
}

button:hover{
  background-color: rgb(255, 136, 0);
  color: white;
  transition: all 0.19s ease-in-out;
}

button:active{
  transform: scale(0.9);
  transition: all 0.14s ease-in-out;
}
